package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.example.mybatisplus.Qo.ModelQo
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    List<${entity}> servive.find(ModelQo);
}
